@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в блог</h1>
    <p>Здесь будет много интересного!</p>
</div>

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="container bg-secondary bg-opacity-10 py-2 ">
        <p class="d-flex justify-content-center">Мы рады Вам, @User.Identity.Name!</p>
    </div>

        
}


