@model TestMitra2.Models.ViewModels.LoginViewModel

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Авторизация пользователя</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post" asp-controller="Account" asp-action="Login">
        @*<div class="mb-3">
            <label asp-for="Email"></label>
            <input autocomplete="on" class="form-control" id="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>*@

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input autocomplete="on" class="form-control" id="email" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input class="form-control" id="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class ="mb-3">
            <label asp-for="RememberMe" class="form-label"></label>
            <input asp-for="RememberMe" class="remember-me" />
        </div>

        <div class="mb-3">
            <input type="submit" value="Войти" />
        </div>
    </form>
</div>

@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="error-message">@Model.ErrorMessage</div>
}
