@model TestMitra2.Models.ViewModels.RegistryViewModel
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Регистрация нового пользователя</h1>
    </div>
</div>

<div class="container py-5">

    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }

    <form method="post">
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input class="form-control" id="name" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input class="form-control" id="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input class="form-control" id="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input class="form-control" id="confirm_password" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn-dark">Сохранить</button>
        </div>
    </form>
</div>


